@model IEnumerable<Blog.Models.DataBase.Posts>

@{
    ViewData["Title"] = "Index";
}

<h2>All Posts</h2>
<p><a asp-action="Create" class="btn btn-primary">Create New</a></p>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Post Content</th>
            <th>Create Date</th>
            <th>User</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Title)</td>
            <td>@Html.DisplayFor(modelItem => item.PostContent)</td>
            <td>@Html.DisplayFor(modelItem => item.CreateDate)</td>
            <td>@Html.DisplayFor(modelItem => item.User.Username)</td>
            <td>

                <a asp-action="Details" asp-route-id="@item.PostId" class="btn btn-info">Details</a>
                <a asp-action="Edit" asp-route-id="@item.PostId" class="btn btn-secondary">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.PostId" class="btn btn-danger">Delete</a>
            </td>
        </tr>}
    </tbody>
</table>
